.canvas{
    width: 1120px;
    height: 3000px;
    margin: 0 auto;
}

.logo{
    position: absolute;
    width: 95px;
    height: 59.53px;
    left: 97px;
    top: 29px;
}

.menu{
    font-family: MontMed;
    position: absolute;
    height: 21px;
    top: 29px; 
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    z-index: 3;
    text-decoration: none;

    color: #F2F2F2;
}

.company{
    position: absolute;
    width: 99px;
    left: 599px;
}

.services{
    position: absolute;
    width: 71px;
    left: 748px;
}

.contacts{
    position: absolute;
    width: 92px;
    left: 869px;
}

.callBack{
    position: absolute;
    width: 158px;
    left: 1026x;
}


.rectangle1{
    position: absolute;
    width: 745px;
    height: 632px;
    left: 535px;
    top: 0px;
    z-index: 1;

    background: #1F2B36;
}

.rectangle2{
    position: absolute;
    width: 405px;
    height: 160px;
    left: 875px;
    top: 552px;
    z-index: 4;

    background: #E3AD24;
}

.mainImg{
    position: absolute;
    width: 760px;
    height: 550px;
    left: 440px;
    top: 82px;
    z-index: 2;
}

.mainBlur{
    position: absolute;
    width: 760px;
    height: 550px;
    left: 440px;
    top: 82px;
    z-index: 3;
}

.subline1{
    position: absolute;
    width: 140px;
    height: 0px;
    left: 154px;
    top: 434px;
    
    border: 1px solid #E3AD24;
}

.subline2{
    position: absolute;
    width: 140px;
    height: 0px;
    left: 81px;
    top: 712px;
    
    border: 1px solid #E3AD24;
}

.title{
    position: absolute;
    width: 337px;
    height: 175px;
    left: 81px;
    top: 195px;

    font-family: RussoReg;
    font-size: 52px;

    display: flex;
    align-items: center;

    color: #F2F2F2;
}

.subtitle{
    position: absolute;
    width: 360px;
    height: 52px;
    left: 80px;
    top: 484px;

    font-family: RobotoLight;
    font-size: 22px;
    line-height: 120%;

    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.86);
}

.topAdress{
    position: absolute;
    width: 232px;
    height: 37px;
    left: 968px;
    top: 589px;

    font-family: MontMed;
    font-size: 18px;
    line-height: 124.9%;

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    z-index: 5;

    color: #FFFFFF;
}

.pinIcon{
    position: absolute;
    width: 26px;
    height: 36.5px;
    left: 915px;
    top: 589px;
    z-index: 5;
}

.topWorkHours{
    position: absolute;
    width: 232px;
    height: 20px;
    left: 968px;
    top: 651px;

    font-family: MontMed;
    font-size: 18px;
    line-height: 107.4%;

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    z-index: 5;

    color: #FFFFFF;
}

.clockIcon{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 915px;
    top: 646px;
    z-index: 5;
}

.topInst{
    position: absolute;
    width: 190px;
    height: 20px;
    left: 123px;
    top: 670px;

    font-family: RobotoReg;
    font-size: 20px;
    line-height: 100.4%;

    display: flex;
    align-items: center;
    text-align: center;
    z-index: 2;

    color: #FFFFFF;
}

.instIcon{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 80px;
    top: 662px;
}

.clock2Icon{
    position: absolute;
    width: 70px;
    height: 72.64px;
    left: 177px;
    top: 832px;
}

.armsIcon{
    position: absolute;
    width: 84.2px;
    height: 58.12px;
    left: 457px;
    top: 846.53px;
}

.techIcon{
    position: absolute;
    width: 98.9px;
    height: 50.03px;
    left: 734px;
    top: 854.83px;
}

.objectsIcon{
    position: absolute;
    width: 75px;
    height: 66.18px;
    left: 1031px;
    top: 838.25px;
}

.iconTitle{
    font-family: MontSemiBold;
    font-size: 24px;
    line-height: 100.4%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.reliability{
    position: absolute;
    width: 159px;
    height: 24.91px;
    left: 133px;
    top: 921.25px;
    }

.partners{
    position: absolute;
    width: 131px;
    height: 24.91px;
    left: 433px;
    top: 921.25px;
}

.technics{
    position: absolute;
    width: 105px;
    height: 24.91px;
    left: 731px;
    top: 921.25px;
    
}

.objects{
    position: absolute;
    width: 114px;
    height: 24.91px;
    left: 1011px;
    top: 921.25px;
}

.iconText{
    font-family: RobotoLight;
    font-size: 18px;
    line-height: 107.4%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.iconText1{
    position: absolute;
    width: 265px;
    height: 79.91px;
    left: 80px;
    top: 971.15px;
}

.iconText2{
    position: absolute;
    width: 265px;
    height: 79.91px;
    left: 365px;
    top: 971.15px;
}

.iconText3{
    position: absolute;
    width: 265px;
    height: 78.87px;
    left: 650px;
    top: 971.15px;
    
}

.iconText4{
    position: absolute;
    width: 265px;
    height: 74.72px;
    left: 935px;
    top: 971.15px;
}

.ourServices{
    position: absolute;
    width: 360px;
    height: 30px;
    left: 80px;
    top: 1227px;

    font-family: MontSemiBold;
    font-size: 48px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.ourServicesBack{
    position: absolute;
    width: 740px;
    height: 78px;
    left: 113px;
    top: 1172px;

    font-family: RussoReg;
    font-size: 100px;

    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.2);
}

.rectangle3{
    position: absolute;
    width: 360px;
    height: 478.67px;
    top: 1333px;
    left: 80px;
    z-index: 1;

    background: #1F2B36;
}

.rectangle4{
    position: absolute;
    width: 360px;
    height: 478.67px;
    top: 1333px;
    left: 460px;
    z-index: 1;

    background: #1F2B36;
}

.rectangle5{
    position: absolute;
    width: 360px;
    height: 478.67px;
    top: 1333px;
    left: 840px;
    z-index: 1;

    background: #1F2B36;
}

.dirtImg{
    position: absolute;
    width: 360px;
    height: 239.34px;
    left: 80px;
    top: 1333px;
    z-index: 2;
}

.pilesImg{
    position: absolute;
    width: 360px;
    height: 239.34px;
    left: 460px;
    top: 1333px;
    z-index: 2;
}

.technicsImg{
    position: absolute;
    width: 360px;
    height: 239.34px;
    left: 840px;
    top: 1333px;
    z-index: 2;
}

.servicesTitle{
    font-family: MontSemiBold;
    font-size: 24px;
    line-height: 100.4%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.servicesDirt{
    position: absolute;
    width: 234px;
    height: 23.93px;
    left: 143px;
    top: 1601.26px;
    z-index: 2;
}

.servicesPiles{
    position: absolute;
    width: 216px;
    height: 23.93px;
    left: 532px;
    top: 1601.26px;
    z-index: 2;
}

.servicesTech{
    position: absolute;
    width: 330px;
    height: 23.93px;
    left: 855px;
    top: 1601.26px;
    z-index: 2;
}


.subline3{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 210px;
    top: 1655.11px;
    z-index: 2;

    border: 1px solid #E3AD24;
}

.subline4{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 591px;
    top: 1655.11px;
    z-index: 2;
    
    border: 1px solid #E3AD24;
}

.subline5{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 970px;
    top: 1655.11px;
    z-index: 2;
    
    border: 1px solid #E3AD24;
}

.servicesText{
    font-family: RobotoLight;
    font-size: 18px;
    line-height: 100.4%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #F2F2F2;
}

.services1{
    position: absolute;
    width: 360px;
    height: 35.9px;
    left: 80px;
    top: 1687.02px;
    z-index: 2;
}

.services2{
    position: absolute;
    width: 360px;
    height: 37.89px;
    left: 460px;
    top: 1686.02px;
    z-index: 2;
}

.services3{
    position: absolute;
    width: 360px;
    height: 56.84px;
    left: 840px;
    top: 1681.04px;   
    z-index: 2; 
}

.tractorImg{
    position: absolute;
    left: 0px;
    top: 1775px;
    width: 297.6px;
    height: 197px;
    z-index: 2;
}

.projects{
    position: absolute;
    width: 473px;
    height: 78px;
    left: 728px;
    top: 2002px;

    font-family: RussoReg;
    font-size: 100px;

    display: flex;
    align-items: center;
    text-align: right;

    color: rgba(255, 255, 255, 0.2);
}

.ourProjects{
    position: absolute;
    width: 681px;
    height: 30px;
    left: 499px;
    top: 2057px;
    
    font-family: MontSemiBold;
    font-size: 48px;
    
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.orion{
    position: absolute;
    width: 570px;
    height: 120.84px;
    left: 1072.84px;
    top: 2162px;
}

.rectangle6{
    position: absolute;
    width: 629px;
    height: 570px;
    left: 1px;
    top: 2162px;
    z-index: 1;

    background: #1F2B36;
}

.groundContacts{
    position: absolute;
    width: 359.72px;
    height: 30px;
    left: 80.94px;
    top: 2887px;
    
    font-family: MontSemiBold;    
    font-size: 48px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.groundContactsBack{
    position: absolute;
    width: 739.42px;
    height: 78px;
    left: 100.92px;
    top: 2832px;
    
    font-family: RussoReg;
    font-size: 100px;
    
    display: flex;
    align-items: center;
    
    color: rgba(255, 255, 255, 0.2);
}

.rectangle7{
    position: absolute;
    width: 207.84px;
    height: 570px;
    left: 1072.16px;
    top: 2832px;
    z-index: 1;

    background: #E3AD24;
}

.map{
    position: absolute;
    width: 570px;
    height: 365px;
    left: 630px;
    top: 2995px;
    z-index: 2;
}

.groundAdress{
    position: absolute;
    width: 264.79px;
    height: 25px;
    left: 80.94px;
    top: 2995px;

    font-family: MontSemiBold;
    font-size: 24px;
    line-height: 100.4%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.groundWorkHours{
    position: absolute;
    width: 264.79px;
    height: 25px;
    left: 365.71px;
    top: 2995px;
    
    font-family: MontSemiBold;
    font-size: 24px;
    line-height: 100.4%;
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.adressText{
    position: absolute;
    width: 264.79px;
    height: 41px;
    left: 81.94px;
    top: 3034px;

    font-family: RobotoReg;
    font-size: 20px;
    line-height: 115.4%;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.workHoursText{
    position: absolute;
    width: 264.79px;
    height: 20px;
    left: 365.71px;
    top: 3034px;

    font-family: RobotoReg;
    font-size: 20px;
    line-height: 107.4%;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.phone{
    position: absolute;
    width: 264.79px;
    height: 25px;
    left: 80.94px;
    top: 3115px;

    font-family: MontSemiBold;
    font-size: 24px;
    line-height: 100.4%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.number{
    position: absolute;
    width: 264.79px;
    height: 20px;
    left: 80.94px;
    top: 3155px;

    font-family: RobotoReg;
    font-size: 20px;
    line-height: 107.4%;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.mail{
    position: absolute;
    width: 264.79px;
    height: 25px;
    left: 80.94px;
    top: 3215px;

    font-family: MontSemiBold;
    font-size: 24px;
    line-height: 100.4%;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.e-mail{
    position: absolute;
    width: 264.79px;
    height: 20px;
    left: 80.94px;
    top: 3255px;
    
    font-family: RobotoReg;
    font-size: 20px;
    line-height: 107.4%;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}

.subline6{
    position: absolute;
    width: 99.92px;
    height: 0px;
    left: 83.94px;
    top: 3315px;

    border: 1px solid #E3AD24;
}

.groundInstIcon{
    position: absolute;
    width: 34.97px;
    left: 83.94px;
    top: 3325px;
}

.groundInst{
    position: absolute;
    width: 189.85px;
    height: 20px;
    left: 126.9px;
    top: 3331px;
    
    font-family: RobotoReg;
    font-size: 20px;
    line-height: 100.4%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.rectangle8{
    position: absolute;
    width: 1280px;
    height: 80px;
    left: 0px;
    top: 3452px;

    background: #1F2B36;
}

.footer{
    position: absolute;
    width: 211px;
    height: 18px;
    left: 526px;
    top: 3483px;

    font-family: MontMed;
    font-size: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}