* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #17181D;
}

a{
    outline: none;
    text-decoration: none;
    transition: .2s linear;
}

ul{
    list-style-type: none;
}

a:hover{
    color: #E3AD24;
}

section{
    width: 1120px;
    margin: 0 auto;
}

h1{
    font-family: MontSemiBold;
    font-size: 24px;
    line-height: 100.4%;
    color: #FFFFFF;
    margin-top: 16.6px;
}

p{
    font-family: RobotoLight;
    font-size: 18px;
    line-height: 107.4%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}